body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

form {
    background: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
}
